.tweet-wrapper{
    border: 1px solid black;
    padding: 1rem;
    font-size: larger;
    width: 600px;
}
.like-create-wrapper{
    display: flex;
    justify-content: space-between;
}
.likes, .created-at{
    font-size: xx-small;
}
.tweet-content{
    margin-bottom: 20px;
}